body{
    background-color:coral;
    font-style: italic;
    font-size: 18px;
    }

    
.create{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: azure;
}     
h1{
    color:blueviolet;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

h2{
    color:rgb(300, 250, 81);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 12px;
}
.myhobbies{
    color:greenyellow;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

p2{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

p3{
    color:blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}


.table-one{
    border-color: aliceblue;
    font-family:Times 'Times New Roman';
    color:darkmagenta;
    font-style: italic;   
    font-size: 15px;
    }
  
.bb{
    font-size: 25px;
    color:red;
}
.gg{
    font-size: 30px;
    color: chartreuse;
}
